<p style="margin: 0; padding-left: 20px; padding-right: 20px;">
    <mat-toolbar style="background-color: white;">
        <span>Logo</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon bell-icon" aria-label="Example icon-button with bell icon">
            <mat-icon>bell</mat-icon>

        </button>
        <button mat-icon-button class="example-icon material-symbols-rounded"
            aria-label="Example icon-button with image icon">
            <mat-icon>account-circle</mat-icon>
        </button>
    </mat-toolbar>
</p>